Xcode

.DS_Store

Build

build/
DerivedData/

Xcode User Data

xcuserdata/
*.xcuserdatad/
*.xcuserstate

Swift Package Manager

.build/
Packages/
Package.resolved

CocoaPods

Pods/

Carthage

Carthage/Build/

Fastlane

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

Archives

*.xcarchive

Playground

timeline.xctimeline
playground.xcworkspace

Temporary Files

*.swp
*.lock
*.tmp

AppCode

.idea/

Firebase

GoogleService-Info.plist

Secrets

.env
.env.local
Secrets.plist
Config.plist

Xcode Cloud

ci_scripts/